.main-custom {
    background-image: url("https://res.cloudinary.com/dbjyysrv0/image/upload/v1567564065/home.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 0 !important;
}

.main-custom h1{
    font-family: 'Gobold-italic';
    color: rgb(1, 126, 115);
    font-size: 8rem;
    font-weight: bolder;
    letter-spacing: 8px;
}

.about-custom { 
    padding: 0 5%;
}

.home-custom{
    width: 80% !important;
    color: rgb(238, 221, 234);
    padding-top: 1rem;
}

.home-box {
    font-family: 'Blinker', sans-serif;
    font-size: 1.3em;
}

.card-custom {
    background-color: rgb(241, 92, 122) !important;
    padding: 3%;
}

.cover-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 6%; */
    padding: 0 100px;
}

.cover-title {
    margin-right: 50px;
}

@media only screen and (max-width: 600px) {
    .main-custom h1{
      font-size: 3.8rem;
      line-height: 5rem;
      letter-spacing: 2px;
      margin-top: 45%;
    }
  
    .cover-content{
      padding: 2rem;
    }
  }
  