.sidebar{
	border: 3px solid red;
	width: 25%;
	height: 100%;
	text-transform: uppercase;
	float: left;
}

.profileImg {
	width: 100px;
	height: 100px;
	margin: 10px 15px;
	border-radius: 50%
}

.sidebar h2 {
	font-size: 20px;
	margin: 10px 15px;
}
  